<% var path = '../'; %>
<% var page = {
    title : "WORKS PAGE",
    description : "WORKS PAGE DESCRIPTION",
    og_title: "WORKS PAGE",
    og_type: "",
    og_url: "",
    og_image: "",
    og_site_name: "",
    tracking_id : "",
    header : true,
    footer : true,
    namespace: "home"
}; %>
<%- include(path + 'partials/_header', { path : path, page : page }); %>
            <div id="p-works">
                <h1>Works</h1>
               
            </div><!-- / #p-works -->
<%- include(path + 'partials/_footer', { path : path, page : page }); %>